@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Open+Sans:wght@300;400;700&display=swap");

* {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body,
html {
  overflow-x: hidden;
}

body {
  color: #666;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
  animation: enter 1s ease-in-out;
}

ul {
  list-style: none;
}

a {
  color: #999;
  text-decoration: none;
  font-size: 0.8rem;
  cursor: pointer;
}

a:hover {
  color: #0d2346;
}

h1 {
  color: white;
  font-size: 3.1rem;
  font-family: "Merriweather", serif;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
  color: #ff3b00;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  color: #111;
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 1.75rem;
}

button {
  border: none;
  background: #ff3b00;
  padding: 25px 35px 25px 37px;
  color: #fff;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

button:hover {
  background-color: #091830;
}

hr {
  background-image: url(../public/line-light-grey-2.svg);
  height: 12vh;
  background-size: auto;
  background-color: none;
  background-position: center center;
  background-repeat: repeat-x;
  width: 100%;
  border: 0;
  margin: 0;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc31 !important;
  color: #666666;
  cursor: none;
}

@media only screen and (min-width: 1000px) {
  hr {
    height: 10vh;
  }
}

@keyframes enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
