.hero {
  height: 65vh;
  margin-top: -12vh;
  padding-bottom: 5rem;
  background-image: url(/MG_7004.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.512);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.hero button {
  width: 70vw;
}

.hero::after {
  content: "";
  height: 8vh;
  width: 100vw;
  background-image: url(/white-wobble-2.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: -1px;
}

#two button {
  background-color: #091830;
  margin-top: 0.5rem;
}

#two button:hover {
  background: #ff3b00;
}

.info {
  width: 75vw;
  height: 15vh;
  margin: 0 auto;
  text-align: center;
}

.info h3 {
  font-size: 1.5rem;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
}

.details_container {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details > div {
  padding: 1rem 0;
}

.details p {
  line-height: 1.75rem;
}

.entertainment {
  background-color: #f4f4f4;
  padding: 2rem 0;
  position: relative;
}

.entertainment::before {
  content: "";
  background-image: url(/grey-wobble.svg);
  width: 100%;
  background-size: cover;
  height: 3vh;
  position: absolute;
  top: -3vh;
  left: 0;
}

.entertainer {
  margin: 0 auto;
  width: 90vw;
  padding-top: 2rem;
}

.entertainer img {
  width: 100%;
}

.single_entertainer {
  padding: 2rem 1rem;
  background: white;
}

.single_entertainer h3 {
  padding: 1rem 0;
}

.vfc {
  height: 40vh;
  background-image: url(/hbsfimg.jpg);
  background-position: center;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.322);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1rem;
}

.vfc h1 {
  font-size: 2rem;
}

@media (min-width: 700px) {
  .btn_container {
    display: flex;
  }

  .hero button {
    max-width: 30vw;
    margin: 0 1rem;
  }

  .hero h1 {
    font-size: 3.1rem;
    max-width: 95vw;
  }

  #two button {
    margin-top: 0;
  }

  .info h3 {
    font-size: 2rem;
  }

  .entertainer img {
    width: 100%;
    height: auto;
  }

  .single_entertainer {
    display: none;
  }

  .vfc {
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: 900px) {
  .details {
    flex-direction: row;
    justify-content: space-evenly;
    width: 85vw;
    margin: 0 auto;
  }

  .hero {
    height: 60vh;
  }

  .details_container {
    padding: 5rem 0;
  }

  .details p {
    width: 25vw;
  }

  .entertainer {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }

  .entertainer img {
    width: 45vw;
    height: 100%;
  }
  .single_entertainer {
    width: 45vw;
    height: auto;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1000px) {
  .hero button {
    max-width: 240px;
    padding: 25px;
  }

  .hero {
    height: 75vh;
  }

  .info {
    height: 20vh;
    margin: 1rem auto;
    width: 65vw;
    padding-top: 5rem;
  }

  .entertainment {
    padding-bottom: 5rem;
  }

  .entertainer {
    max-width: 1200px;
  }

  .single_entertainer {
    max-width: 600px;
  }

  .entertainer img {
    max-width: 600px;
  }

  .vfc button {
    max-width: 25rem;
  }

  .info h3 {
    font-size: 2.625rem;
  }
}

@media screen and (min-width: 1500px) {
  .info {
    padding-top: 10vh;
    width: 40vw;
    height: 25vh;
  }

  .details {
    width: 60vw;
  }

  .details h3 {
    font-size: 2.375rem;
  }

  .details p {
    line-height: 2rem;
    width: 15vw;
    padding-top: 2rem;
  }

  .entertainment {
    padding: 5rem;
  }

  .entertainment h2 {
    margin: -1rem 0 1.5rem 0;
  }

  .vfc {
    height: 55vh;
  }
}
